<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="AGrilla"
           Language="1033"
           Version="1.0.0"
           Manufacturer="AGrilla Developers"
           UpgradeCode="18b6f21d-86d0-486e-a2d8-09871e97714e">

    <Package Id="*"
             InstallerVersion="200"
             Compressed="yes"
             Description="A simple program to manage aspect ratios and grids for graphical design."
             Manufacturer="AGrilla Developers"
             InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AGrilla">
          <Directory Id="AppFolder" Name="bin" />
          <Directory Id="ResourcesFolder" Name="res" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainApplication" Title="AGrilla" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="*" Guid="*">
        <File Id="file_agrilla_exe"
              Source="agrilla.exe"
              KeyPath="yes" />
      </Component>

      <Component Id="*" Guid="*">
        <File Id="file_about_svg" Source="res\about.svg" />
        <File Id="file_aspect_locked" Source="res\aspect-ratio-locked.svg" />
        <File Id="file_aspect_unlocked" Source="res\aspect-ratio-unlocked.svg" />
        <File Id="file_frame_off" Source="res\frame-off.svg" />
        <File Id="file_frame_on" Source="res\frame-on.svg" />
        <File Id="file_golden_off" Source="res\golden-lines-off.svg" />
        <File Id="file_golden_on" Source="res\golden-lines-on.svg" />
        <File Id="file_grid_off" Source="res\grid-off.svg" />
        <File Id="file_grid_on" Source="res\grid-on.svg" />
        <File Id="file_options" Source="res\options.svg" />
        <File Id="file_set_aspect_ratio" Source="res\set-aspect-ratio.svg" />
        <File Id="file_shutdown" Source="res\shutdown.svg" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
